<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1><a href="/">Tech Blog</a></h1>
        <nav>
            <a href="/">Home</a>
            {{#if loggedIn}}
                <a href="/dashboard">Dashboard</a>
                <a href="/logout">Logout</a>
            {{else}}
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            {{/if}}
        </nav>
    </header>
    {{{body}}}
</body>
</html>
